

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

body {
    font: 300 15px/1.6 'Raleway', serif, sans-serif;
    color: #545454;
}

h1, h2, h3, h4, h5, h6 {
    font: 400 46px/1.2 'Montserrat', serif, sans-serif;
    margin: 5px 0 5px;
    color: #222;
}

h1 {
    font-size: 64px;
    font-weight: 700;
    margin: 5px 0 15px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-size: 22px;
    text-transform: uppercase;
    margin: 5px 0 15px;
}

h4 {
    font-size: 16px;
    margin: 5px 0 10px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 13px;
}

a,
.btn,
.navbar,
.form-control,
.portfolio-item-description {
    -webkit-transition: all 0.125s ease-in-out 0s;
       -moz-transition: all 0.125s ease-in-out 0s;
        -ms-transition: all 0.125s ease-in-out 0s;
         -o-transition: all 0.125s ease-in-out 0s;
            transition: all 0.125s ease-in-out 0s;
}

.wrapper {
    overflow: hidden;
}

.navbar-custom {
    padding: 25px 15px;
    background: none;
    color: #fff;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a:hover, 
.navbar-custom .nav li a:focus, 
.navbar-custom .nav li.active {
    background: none;
    outline: 0;
    color: #EF4836;
}

.navbar-header .navbar-brand {
    font: 700 18px/1.2 'Montserrat', serif, sans-serif;
    color: #fff;
    padding-top: 15px;
}

.navbar-custom .navbar-nav > li.active {
    border-bottom: 3px solid #fff;
}

.navbar-color {
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    background: #fff;
    padding: 0;
}

.navbar-color li a,
.navbar-color .navbar-brand {
    color: #222;
}

.navbar-color .navbar-nav > li.active {
    border-bottom: 3px solid #222;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.section {
    padding-top: 120px;
    padding-bottom: 90px;
}

.callout {
    background: #f5f5f5;
}

#intro {
    padding: 260px 0 160px 0;
    color: #fff;
    text-align: center;
}

#intro h1,
#intro h3 {
    color: #fff;
}

#intro h1 {
    font-size: 64px;
    font-weight: 800;
    font-family: 'Montserrat';
    margin: 5px 0 15px;
}

#profile-contact {
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    padding: 20px 0;
    /*margin-bottom: 45px;*/
}

.profile-item i {
    line-height: 42px;
    font-size: 32px;
    color: #222;
}

.timeline {
    border-left: 3px solid #00BCD4;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
    padding: 0 30px;
    margin-left: 280px;
}

.timeline .item:before {
    content: "";
    position: absolute;
    left: -43px;
    top: 0;
    display: inline-block;
    width: 22px;
    height: 22px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #fff;
    border: 3px solid #00BCD4;
}

.timeline .item:after {
    content: "";
    position: absolute;
    left: -37px;
    top: 6px;
    display: inline-block;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #00BCD4;
    z-index: 10;
}

.timeline .item {
    position: relative;
    margin-bottom: 45px;
}

.timeline .work-place {
    position: relative;
}

.timeline .work-place h3 {
    text-transform: none;
}

.timeline .location {
    position: absolute;
    right: 0;
    top: 2px;
    color: #8a8a8a;
}

.timeline .place {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 300;
}

.timeline .job-meta {
    position: absolute;
    left: -280px;
    top: 0;
}

.timeline .title {
    font-size: 18px
}

.skill {
    margin-bottom: 25px;
}

.skill .icon {
    font-size: 48px;
    margin: 0 0 5px;
    color: #222;
}